<% if current_user %>
<h1>Welcome <%=current_user.name %> </h1>
<% else %>
<div class='row'>
	<div class='small-6  columns'>You can choose <%=link_to 'Log in' ,login_path %></div>
	<div class='small-6  columns'>You can choose <%= link_to 'Sign Up', new_user_path %></div.
</div>
<% end %>
