// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "foundation/variables";
@import "foundation/components/global";
@import "foundation/components/panels";

.title_panel{@include panel($bg, $padding, $adjust);}
$bg: $secondary-color;
$padding: $panel-padding;
$adjust: true;

